/**{
    outline: 1px solid red;
}*/

body{
    font-family: sans-serif;
    
}
header, section{
    width: 960px;
    margin: 0 auto;
}
header{
    display: flex;
    background-color: rgb(57, 96, 237);
    padding-left: 5px;
}
section{
    display: flex;
}
article{
    width: 60%;
}
ul{
    list-style-type: ;
}
img{
    width: 200px;
    height: 200px;
    margin-right: 16px;
}
.flex{
    display: flex;
}